page-login {
    .vaaguru-logo{
        padding-top: 40px;
    }
    .vaaguru{
    text-align:center;
    }

    h3 {
        text-align: center;
    }

    img {
        width: 200px;
        align-self: center;
        margin: auto;
        display: block;
        padding: 10px;
    }

    .auth-divider {
		font-size: 1.6rem;
		margin: 20px 0px;
		text-align: center;
	}

}

