<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Equipe</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content class="outer-content">
  <ion-list-header>
      Dados da Equipe
    </ion-list-header>
  <ion-list>
    <ion-item>
      <h2 text-center>{{team?.name}}</h2>
    </ion-item>
    <ion-item>
      <p text-center>{{team?.description}}</p>
    </ion-item>
    <ion-item>
      <img class="circle" [src]="teamImage">
    </ion-item>
  </ion-list>
  <ion-segment [(ngModel)]="members">
    <ion-segment-button value="enrolled">
      Inscritos
    </ion-segment-button>
    <ion-segment-button value="inviteds">
      Convidados
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="members">

    <ion-list *ngSwitchCase="'enrolled'">
        <ion-item *ngFor="let member of team?.members">
          <ion-avatar item-start>
            <img src="assets/imgs/{{member.imageUrl || 'avatar-blank.png'}}">
          </ion-avatar>
          <h2>{{member.name}}</h2>
          <p>{{member.email}}</p>
        </ion-item>
    </ion-list>
  
    <ion-list *ngSwitchCase="'inviteds'">
      <ion-item *ngFor="let invited of inviteds">
        <p>{{invited.invited_email}}</p>
      </ion-item>
    </ion-list>

  </div>
  <ion-fab right bottom>
    <button (click)="inviteRowers()" ion-fab mini color="secondary"><ion-icon name="md-share"></ion-icon></button>
  </ion-fab>
  
</ion-content>
