page-teams {
    
    .masters2 {
        background-color: #f7f7f7;
    }

    .masters {
        background-color: #efefef;
    }

    .avatar-image {
        border-radius: 6px;

        img {
            border-radius: 16px;
        }
    }
}
