<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Agendamento</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding class="outer-content">
    <ion-fab top right edge>
      <button (click)="edit()" ion-fab mini><ion-icon name="create"></ion-icon></button>
    </ion-fab>
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingText="Atualizar">
      </ion-refresher-content>
    </ion-refresher>

    <ion-list-header>
        <ion-icon item-end name="alarm"></ion-icon>
        Horário
    </ion-list-header>
    <ion-list>
      <ion-item>
        {{item?.date | date:'hh:mm (EEEE, d/m/yy)'}}
        <p>{{item?.obs}}</p>
      </ion-item>
    </ion-list>
    <ion-list-header>
      <ion-icon item-end name="checkmark"></ion-icon>
      Confirmados
    </ion-list-header>
    <ion-list>
      <ion-item>
        <ol>
          <p *ngIf="inscriptions?.length==0">Lista Vazia</p>
          <li *ngFor="let inscription of inscriptions">{{inscription?.rower.name}}</li>
        </ol> 
      </ion-item>
    </ion-list>

    <ion-list-header>
        <ion-icon item-end name="glasses"></ion-icon>
        Lista de Espera
      </ion-list-header>
    <ion-list>
        <ion-item></ion-item>
    </ion-list>

    <button *ngIf="!isCurrRowerInList" ion-button block outline (click)="confirmInscription()">Confirmar Presença</button>
    <button *ngIf="isCurrRowerInList" ion-button block outline (click)="removeInscription()" color="danger">Sair da Lista</button>
    <button *ngIf="isTeamOwner" ion-button block (click)="removeSchedule()" color="danger">Excluir Agenda</button>
  </ion-content>