<ion-header>
  <ion-navbar>
    <ion-title>Registro</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formGroup" (ngSubmit)="signupUser(); $event.preventDefault()">
    <ion-item>
      <ion-label stacked>Nome*</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>
    <p *ngIf="formGroup.controls['name'].dirty && formGroup.controls['name'].errors" class="danger" margin-left>Valor inválido</p>
    <ion-item>
        <ion-label stacked>Email*</ion-label>
        <ion-input formControlName="email" type="text"></ion-input>
    </ion-item>
    <p *ngIf="formGroup.controls['email'].dirty && formGroup.controls['email'].errors" class="danger" margin-left>Email inválido</p>
    <ion-item>
        <ion-label stacked>Senha*</ion-label>
        <ion-input formControlName="password" [type]="passwordInputType"></ion-input>
        <button ion-button clear (click)="toggleShow($event);false" item-right>
          <ion-icon [hidden]="show" name="eye"></ion-icon>
          <ion-icon [hidden]="!show" name="eye-off"></ion-icon>
        </button>
    </ion-item> 
    <p *ngIf="formGroup.controls['password'].dirty && formGroup.controls['password'].errors" class="danger" margin-left>A senha deve possuir no mínimo 6 caracteres.</p> 
    <ion-item>
        <ion-label stacked>Telefone*</ion-label>
        <ion-input formControlName="phone" type="text"></ion-input>
    </ion-item> 
    <p *ngIf="formGroup.controls['phone'].dirty && formGroup.controls['phone'].errors" class="danger" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label>Faço Leme</ion-label>
      <ion-toggle checked="false" formControlName="isSteerer"></ion-toggle>
    </ion-item>
    <button ion-button block type="submit" [disabled]="formGroup.invalid">Confirmar Registro</button>    
  </form>
</ion-content>
